*,
*::before,
*::after{
    box-sizing: border-box;
    font-family: 'system-ui', sans-serif;
    margin: 0;
    outline: none;
}

.container {
    position:relative;
    display: flex;
    height: 100vh;
    padding: 0;
    margin: 0;
    width: 100%;
    background-size: cover;
}
.container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
}
.container .active{
  opacity: 1;
}
.next, .preview, .nexth, .previewh {
  font-size: 40px  ;
  position: absolute;
  top: 50%;
  z-index: 5;
  height: 60px;
  width: 60px;
  padding: 0;
  margin: 0;
  text-align: center;
  border-radius: 90px;
  transform: translateY(-50%);
  cursor: pointer;
}

.description{
  align-items: center;
  position: absolute;
  display: flex;
  top: 50%;
  right: 7rem;
  left: 7rem;
  z-index: 5;
  border-radius: 5px;
  transform: translateY(-50%);
  font-size: 4rem;
  color: #fff;
  background-color: rgba(177, 177, 177, 0.39);
}
.description .text{
  width: 100%;
  height: 100%;
  display: none;
  text-align: center;
  transition: display 1s;
}
.description .print{
  display: flex;
}
.next{
right: 1rem;
color: rgba(255, 255, 255, 0.842);
background-color: rgba(255, 255, 255, 0.308);
}
.nexth{
  background-color: rgba(0, 0, 0, 0.507);
  color: #fff;
  right: 1rem;
}
.preview{
  left: 1rem;
  color: rgba(255, 255, 255, 0.842);
  background-color: rgba(255, 255, 255, 0.308);
}
.previewh{
  background-color: rgba(0, 0, 0, 0.507);
  color: #fff;
  left: 1rem;
}
nav{
    display: flex;
    background-color: rgba(255, 255, 255, 0.315);
    align-items: center;
    transition: 0.4s;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 99;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.507) 0 2px 4px 0;
}

nav .logo{
    width: auto;

}
nav .logo img{
  height: 60px;
  width: 300px;
  cursor: pointer;
  opacity: 1;
  z-index: 11;
}
nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    padding-right: 40px;
    text-align: right;
    list-style-type: none;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    padding: 10px 20px;
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 16px;
}

.container_pop_head{
  width: 100%;
  justify-content: center;
  padding: 5px;
  text-align: center;
}
.container_popular{
  margin: 5%;
}
.swiper-wrapper{
  display: flex;
}
.swiper-slide{
  width: 22rem;
  height: 22rem;
  background-color: #ffbb00;
  border-radius: 15px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
#trading{
  display: flex;
  flex-direction: column;
}
.tranding-slide-img{
  justify-content: space-around;
  background-color: #0059ff;
  border: 0;
  border-radius: 15px 15rem 15px 15px;
  box-shadow: inset rgba(0, 0, 0, 0.507) 0 2px 4px 0 ;
}
.tranding-slide-img img{
  width: 100%;
  height: 100%;
  border-radius: 15px 15rem 15px 15px;
  box-shadow: inset rgba(0, 0, 0, 0.507) 0 2px 4px 0 ;
}
.tranding-slide-img img:hover{
  transition: 0.2s;
  border-radius: 15px;
  box-shadow: 0;
  cursor: pointer;
}
.tranding-slide-content{
  top: 2rem;
  right: 2rem;
  position: absolute;
  z-index: 12;
}
.price{
  color: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
  right: 0;
  top: 0;
  z-index: 5;
  transform: rotate(45deg);
}
.note{
  background-color: #ffbb00;
  color: #fff;
  border-radius: 90px;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  text-align: center;
}
.tranding-slide-content-bottom{
  bottom: 5px;
  left: 5px;
  position: absolute;
}
.element-price{
  color: #fff;

}
.element-name{
  color: black;
  font-size: 1rem;
}
.rating{
  right: 1rem;
  color: #ffbb00;
  display: flex;
}
.element-rating{
  margin-left: 2rem;
}








.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.back_up{
  display: flex;
  padding: 0;
  margin: 0;
}
.btn_back_up{
  border-radius: 90px;
  justify-content: center;
  margin: 5px;
  font-size: 3rem;
  color: #fff;
  left: 2rem;
  background-color: rgba(112, 112, 112, 0.521);
}
.container_body{
  display: flex;
  justify-content: space-around;
}
.container_footer{
  background-color: #292929;
  color: #fff;
}











  button.btn {
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
    margin-top: 0;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid transparent;
    transition: border-color .3s;
  }

  button.btn:hover {
    border-color:rgb(78, 13, 255);
    color: rgb(78, 13, 255);
  }

  section{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 50px 0;
  }

  .form-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: auto;
  }

  .form-wrapper .card{
      width: 360px;
      padding: 20px;
      background-color: rgb(0 0 0 /35%);
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s, visibility 0.3s;
  }  

   .card.show{
     visibility: visible;
     opacity: 1;
   }
  .card-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin:  30px 20px 0;
    font-size: 1.1rem;
    color: aquamarine;
    box-shadow: 2px 3px 8px #d3f7ff71;
    border-radius: 50px;
  }

  .card-header .form-header{
    flex: 50%;
    text-align: center;
    padding: 10px 0;
    border: 1px solid transparent;
    border-radius: 50px;
    user-select: none;
    cursor: pointer;
  }

  .card-header .form-header.active {
    box-shadow: inset 1px 1px 2px rgb(19 210 177 / 55%), inset -1px 1px 2px rgb(19 210 177 / 55%), inset -1px -1px 2px rgb(19 210 177 / 55%), inset 1px -1px 2px rgb(19 210 177 / 55%);
    border-color: #94f7e6;
    transition: border-color 0.3s, box-shadow 0.3s;
  } 

  .card-body {
    display: flex;
    flex-wrap: nowrap;
    padding: 40px 0;
    text-align: center;
  }

  from {
    flex: 0 0 100%;
  }

  .toggleForm {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
  }

  .form-control {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(134 255 249 /65%);
    background: none;
    outline: none;
    padding: 10px 5px;
    margin-bottom: 20px;
    color: #fff;
  }

  .form-control::placeholder{
    color: rgb(134 255 249 /65%);
  }

  .formButton {
    border: 1px ssolid transparent;
    padding:  1rem 3rem;
    background-color: #94f7e6;
    border-radius: 50px;
    margin-top: 1rem;
    font-size: 1rem;
    transition: transform 0.3s, box-shadow 0.3s;
  }


  .formButton:hover {
     box-shadow: 3px 5px 15px  #94f7e6;
     transform: translateY(-5px);
  }
