@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
*,
*::before,
*::after{
    box-sizing: border-box;
    font-family: 'system-ui', sans-serif;
    margin: 0;
    outline: none;
}
<<<<<<< Updated upstream

:root {
  --primary: #ffae00;
  --white: #ffffff;
  --bg: #f5f5f5;
}
html {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
body{
  justify-content: center;
}
.container_head {
=======
body{
  justify-content: center;
}
.container {
>>>>>>> Stashed changes
    position:relative;
    display: flex;
    height: 100vh;
    padding: 0;
    margin: 0;
    width: 100%;
    background-size: cover;
    justify-content: center;
}
.container_head_down {
  position:relative;
  display: flex;
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100%;
  background-size: cover;
  justify-content: center;
}
.container_head img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
}
.container_head .active{
  opacity: 1;
}
.search_zone{
  display: flex;
  justify-content: center;
}
.search_bar{
  display: none;
}
.search_button{
  cursor: pointer;
  font-size: 1.5rem;
  padding: 4px;
  color: rgb(59, 59, 59);
  background-color: #fff;
  border-radius: 90px;
  justify-content: center;
}
.search_zone{
  caret-color: rgb(4, 0, 255);
  writing-mode: horizontal-tb !important;
  cursor: text;
  border-radius: 20px;
  padding-left: 13px;
  padding-right: 13px;
  font-size: 1rem;
  height: 2rem;
  width: 17rem;
  border: 1px;
}

.next, .preview, .nexth, .previewh {
  position: absolute;
  font-size: 4rem;
  top: 50%;
  z-index: 5;
  height: 60px;
  width: 60px;
  padding: 0;
  margin: 0;
  text-align: center;
  border-radius: 90px;
  transform: translateY(-50%);
  cursor: pointer;
}

.description{
  align-items: center;
  position: absolute;
  display: flex;
  top: 50%;
  right: 7rem;
  left: 7rem;
  z-index: 5;
  border-radius: 5px;
  transform: translateY(-50%);
  font-size: 4rem;
  color: #fff;
  background-color: rgba(177, 177, 177, 0.39);
}
.description .text{
  width: 100%;
  height: 100%;
  display: none;
  text-align: center;
  transition: display 1s;
}
.description .print{
  display: flex;
}
.next{
right: 1rem;
color: #fff;
}

.nexth{
  color: #242424b9;
  right: 1rem;
}
.preview{
  left: 1rem;
  color: rgba(255, 255, 255, 0.842);
}
.previewh{
  color: #242424b9;
  left: 1rem;
}
.nav-bar{
    display: flex;
    background: linear-gradient(rgba(114, 114, 114, 0.315), rgba(255, 255, 255, 0.315));
    align-items: center;
    transition: 0.4s;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 99;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.507) 0 2px 4px 0;
}
.nav-bar_down{
    display: flex;
    background: linear-gradient(rgba(29, 29, 29, 0.616), rgba(255, 255, 255, 0.315));
    align-items: center;
    transition: 0.4s;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 99;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.507) 0 2px 4px 0;
}

.nav-bar .logo{
    width: auto;

}
.nav-bar .logo img{
  height: 60px;
  width: 300px;
  cursor: pointer;
  opacity: 1;
  z-index: 11;
}
.nav-bar ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    padding-right: 40px;
    text-align: right;
    list-style-type: none;
}

.nav-bar ul li {
    margin-right: 10px;
}

.nav-bar ul li a {
    padding: 10px 20px;
    text-decoration: none;
    color:rgb(255, 255, 255);
    display: flex;
    align-items: center;
    font-size: 16px;
}




.container {
  max-width: 124rem;
  max-height: 42rem;
  padding: 0 1rem;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
<<<<<<< Updated upstream
.section-heading {
  font-size: 1.7rem;
  color: #292929;
  padding: 2rem 0;
}
#tranding {
  padding: 4rem 0;
}
#tranding .tranding-slider {
  height: 32rem;
  padding: 2rem 0;
  position: relative;
}
.tranding-slide {
  width: 30rem;
  height: 22rem;
  position: relative;
}
.tranding-slide .tranding-slide-img img {
  width: 30rem;
  height: 22rem;
  border-radius: 2rem;
  object-fit: cover;
}
.tranding-slide .tranding-slide-content {
=======
.container_popular{
  margin: 5%;
  width: 90%;
  height: 180px;
  justify-content: center;
}
.swiper-wrapper{
  perspective: 1000px;
  transform-style: preserve-3d;
  width: 300px;
  height: 150px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.swiper-slide{
  width: 100%;
  height: 100%;
  background-color: #ffbb00;
  border-radius: 15px;
  border: 0;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}
#trading{
  display: flex;
  flex-direction: column;
}
.tranding-slide-img{
  width: 300px;
  height: 150px;
  border: 0;
  background-color: #ffffff00;
  border-radius: 15px 15rem 15px 15px;
  box-shadow: inset rgba(0, 0, 0, 0.507) 0 2px 4px 0 ;
  z-index: 1;
}
.tranding-slide-img img{
  width: 300px;
  height: 150px;
  border-radius: 15px 15rem 15px 15px;
  box-shadow: inset rgba(0, 0, 0, 0.507) 0 2px 4px 0 ;
  max-width: 100%;
  max-height: 100%;
  transition: 0.1.5s;
}
.tranding-slide-img img:hover{
  transition: 0.2s;
  border-radius: 9px;
  box-shadow: 0;
}
.price{
  color: #fff;
  width: 90px;
  height: 90px;
  text-align: center;
>>>>>>> Stashed changes
  position: absolute;
  left: 0;
  top: 0;
<<<<<<< Updated upstream
  right: 0;
  bottom: 0;
}
.tranding-slide-content .food-add {
=======
  transform: rotate(45deg);
}
.note{
  background-color: #ffbb00;
  color: #fff;
  border-radius: 90px;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.7rem;
  padding-top: 3.5px;
  margin-top: 3px;
  text-align: center;
}
.tranding-slide-content{
  bottom: 5px;
  left: 5px;
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin-left: 1rem;
  z-index: 12;
>>>>>>> Stashed changes
  position: absolute;
  cursor: pointer;
  font-size: 2rem;
  top: 2rem;
  left: 2rem;
  color: var(--white);
}
<<<<<<< Updated upstream
.tranding-slide-content .food-price {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--white);
}
.tranding-slide-content .tranding-slide-content-bottom {
  background: radial-gradient(ellipse closest-side, rgba(29, 29, 29, 0.63), rgba(29, 29, 29, 0.425), rgba(48, 48, 48, 0.438));
  border-radius: 10px;
  padding: 5px;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: var(--white);
=======
.element-price{
  color: #fff;
  font-size: 1rem;
}
.element-name{
  color: black;
  font-size: 1rem;
  padding: 3px;
>>>>>>> Stashed changes
}
.food-rating {
  padding-top: 1rem;
  display: flex;
<<<<<<< Updated upstream
  gap: 1rem;
}
.rating ion-icon {
  color: var(--primary);
}
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}
.tranding-slider-control {
  position: relative;
=======
  text-align: center;
  padding: 5px;
}
.element-rating{
  margin-left: 0.5rem;
  display: flex;
  justify-content: space-around;
}
.tranding-slider-control {
>>>>>>> Stashed changes
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
<<<<<<< Updated upstream
  max-height: 60px;
}
.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}
.tranding-slider-control .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
=======
  bottom: 0;
  position: relative;
  height: 10px;
}
.slider-arrow {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 90px;

>>>>>>> Stashed changes
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}
.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}
.tranding-slider-control .slider-arrow::after {
  content: '';
}
.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}
.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}
.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}
.swiper{
  height: 450px  !important;
}


footer{
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
footer a{
  text-decoration: none;
  color: rgb(179, 179, 179);
}
.btn_back_up{
  display: ;
  border-radius: 90px;
  font-size: 2.4rem;
  color: rgb(77, 77, 77);
  right: 1.5rem;
  bottom: 2rem;
  z-index: 0;
  box-shadow: 0 0 0.5rem rgb(104, 104, 104);
  background-color: rgba(255, 255, 255, 0.932);
}
.show{
  position: fixed;
  z-index: 100;
}
.container_body{
  display: flex;
  justify-content: space-around;
  color: rgb(182, 182, 182);
}
.container_body ion-icon {
  font-size: 2rem;
  margin-top: 5px;
}
.container_footer{
  background-color: #2c2c2c;
  padding-top: 4rem;
  color: rgb(182, 182, 182);
}
.container_footer ul{
  list-style-type: none;
}
.content_bottom{
  font-size: 0.7rem;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
}
.css-albjzg {
  padding-left: 10px;
  padding-right: 10px;
  -webkit-flex-basis: 33.33333333333333%;
  -ms-flex-preferred-size: 33.33333333333333%;
  flex-basis: 33.33333333333333%;
  max-width: 33.33333333333333%;
}
.css-1nxsoqg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 1 0%;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: baseline;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-top: 2rem;
}
.css-xz5ev2 {
  font-family: "Source Sans Pro","Trebuchet MS",Helvetica,sans-serif;
  font-weight: 400;
  line-height: 20px;
  color: #242424;
  font-size: 14px;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
  padding: 2rem;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}
.css-70xars {
  font-family: Agrandir,sans-serif;
  font-weight: 600;
  line-height: 24px;
  -webkit-letter-spacing: -0.3px;
  -moz-letter-spacing: -0.3px;
  -ms-letter-spacing: -0.3px;
  letter-spacing: -0.3px;
  color: #242424;
  font-size: 16px;
  margin-bottom: 5px;
  font-family: Agrandir,sans-serif;
  text-align: center;
}
.css-ox6yeh {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.css-albjzg {
  padding-left: 10px;
  padding-right: 10px;
  -webkit-flex-basis: 33.33333333333333%;
  -ms-flex-preferred-size: 33.33333333333333%;
  flex-basis: 33.33333333333333%;
  max-width: 33.33333333333333%;
}
.content_bottom{
  font-size: 0.7rem;
  justify-content: center;
  text-align: center;
}





button.btn {
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
  margin-top: 0;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 1px solid transparent;
  transition: border-color .3s;
}

button.btn:hover {
  border-color:rgb(78, 13, 255);
  color: rgb(78, 13, 255);
}



.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
}

.form-wrapper .card{
    width: 360px;
    padding: 20px;
    background-color: rgb(0 0 0 /35%);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}  

  .card.show{
    visibility: visible;
    opacity: 1;
  }
.card-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin:  30px 20px 0;
  font-size: 1.1rem;
  color: aquamarine;
  box-shadow: 2px 3px 8px #d3f7ff71;
  border-radius: 50px;
}

.card-header .form-header{
  flex: 50%;
  text-align: center;
  padding: 10px 0;
  border: 1px solid transparent;
  border-radius: 50px;
  user-select: none;
  cursor: pointer;
}

.card-header .form-header.active {
  box-shadow: inset 1px 1px 2px rgb(19 210 177 / 55%), inset -1px 1px 2px rgb(19 210 177 / 55%), inset -1px -1px 2px rgb(19 210 177 / 55%), inset 1px -1px 2px rgb(19 210 177 / 55%);
  border-color: #94f7e6;
  transition: border-color 0.3s, box-shadow 0.3s;
} 

.card-body {
  display: flex;
  flex-wrap: nowrap;
  padding: 40px 0;
  text-align: center;
}

form {
  flex: 0 0 100%;
}

.toggleForm {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.form-control {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(134 255 249 /65%);
  background: none;
  outline: none;
  padding: 10px 5px;
  margin-bottom: 20px;
  color: #fff;
}

.form-control::placeholder{
  color: rgb(134 255 249 /65%);
}

.formButton {
  border: 1px ssolid transparent;
  padding:  1rem 3rem;
  background-color: #94f7e6;
  border-radius: 50px;
  margin-top: 1rem;
  font-size: 1rem;
  transition: transform 0.3s, box-shadow 0.3s;
}


.formButton:hover {
    box-shadow: 3px 5px 15px  #94f7e6;
    transform: translateY(-5px);
}
